$main-color: #ffffff;

h1 {
    font-size: 82px;
    margin-bottom: 8px;
}

h2 {
    font-size: 36px;
    color: $main-color;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url('./../../../assets/img/hero_bg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-color;
    text-align: center;
}