footer {
  padding-left: 160px;
  padding-right: 160px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 124px;

  >nav {
    >a {
      margin-left: 24px;

      >img {
        height: 40px;
      }
    }
  }
}

.desktop-logo {
  height: 44px;
}

.mobile-logo {
  display: none;
}

@media (max-width: 600px) {
  footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 500px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    display: block;
    height: 44px;
  }
}