h2 {
    padding-top: 120px;
    font-size: 80px;
    color: #9f0908;
    text-align: center;
    margin-bottom: 64px;
}

h3 {
    font-family: "Economica";
    color: black;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: start;
}

section {
    padding-bottom: 64px;
    background-image: url('./../../../assets/img/section_our_menu_bg.jpg');

    >div {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Raleway";
        font-size: 32px;
        font-weight: bold;
        color: #675e54;
        margin-bottom: 56px;

        >table {
            margin-left: 80px;
            margin-right: 80px;
        }

        >img {
            height: 352px;
            width: 352px;
        }
    }
}

@media (max-width: 800px) {
    h2 {
        padding-top: 100px;
        font-size: 64px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 42px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    section {
        padding-left: 6px;
        padding-right: 6px;

        >div {
            font-size: 24px;
            margin-bottom: 56px;

            >table {
                margin-left: 60px;
                margin-right: 60px;
            }

            >img {
                height: 300px;
                width: 300px;
            }
        }
    }
}

@media (max-width: 650px) {
    h2 {
        padding-top: 100px;
        font-size: 56px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 36px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    section {
        padding-left: 6px;
        padding-right: 6px;

        >div {
            font-size: 24px;
            margin-bottom: 56px;

            >table {
                margin-left: 30px;
                margin-right: 30px;
            }

            >img {
                height: 200px;
                width: 200px;
            }
        }
    }
}

@media (max-width: 500px) {
    h2 {
        padding-top: 100px;
        font-size: 42px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 28px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    section {
        padding-left: 6px;
        padding-right: 6px;

        >div {
            font-size: 18px;
            margin-bottom: 56px;

            >table {
                margin-left: 15px;
                margin-right: 15px;
            }

            >img {
                height: 150px;
                width: 150px;
            }
        }
    }
}

@media (max-width: 360px) {
    h3 {
        font-size: 22px;
    }

    section {
        padding-left: 6px;
        padding-right: 6px;

        >div {
            font-size: 16px;
            margin-bottom: 56px;

            >table {
                margin-left: 10px;
                margin-right: 10px;
            }

            >img {
                height: 100px;
                width: 100px;
            }
        }
    }
}