h2 {
    padding-top: 120px;
    font-size: 80px;
    color: #9f0908;
    text-align: center;
    margin-bottom: 64px;
}

h3 {
    font-family: "Economica";
    color: black;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

section {
    padding-bottom: 64px;
    background-image: url('./../../../assets/img/section_our_menu_bg.jpg');

    >div {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Raleway";
        font-size: 32px;
        font-weight: bold;
        color: #675e54;
        margin-bottom: 56px;

        >table {
            margin-left: 80px;
            margin-right: 80px;
        }

        >img {
            height: 352px;
            width: 352px;
        }
    }
}