@import '../../../../styles.scss';



nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    @include flex($justify:space-between);
    margin: 20px 40px;

    >img {
        cursor: pointer;
        height: 64px;
    }

    >ul {
        list-style: none;
        @include flex();
        gap: 20px;

        >li {
            cursor: pointer;

            >a {
                &:hover {
                    color: #f30e0e;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: $color-white;
}

.phone_btn {
    display: flex;
    background-color: #9f0908;
    padding: 8px;
    cursor: pointer;
    padding-left: 10px;
    @include borderStyling();

    >img {
        height: 18px;
        margin-right: 4px;
    }

    &:hover {
        background-color: #f30e0e;
    }
}


@media (max-width: 500px) {
    nav {
        justify-content: center;
        margin: 10px 20px;

        >img {
            display: none;
        }

        >ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 12px;
        }
    }
}

@media (max-width: 550px) {
    nav {
        margin: 10px 10px;
    }
}