h2 {
    padding-top: 120px;
    font-size: 80px;
    color: #9f0908;
    text-align: center;
    margin-bottom: 64px;
}

h3 {
    font-family: "Economica";
    color: black;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 64px;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;

        >img {
            width: 128px;
        }
    }

}

@media (max-width: 800px) {
    h2 {
        padding-top: 100px;
        font-size: 64px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 48px;
    }

    section {
        >div {
            >img {
                width: 100px;
            }
        }

    }
}

@media (max-width: 500px) {
    h2 {
        padding-top: 100px;
        font-size: 48px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 32px;
    }

    section {
        >div {
            >img {
                width: 80px;
            }
        }

    }
}

@media (max-width: 380px) {
    h2 {
        padding-top: 100px;
        font-size: 36px;
        margin-bottom: 56px;
    }

    h3 {
        font-size: 24px;
    }

    section {
        >div {
            >img {
                width: 60px;
            }
        }

    }
}